# Visual Studio
.vs/
*.vsidx
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb

# Build results
bin/
obj/
Debug/
Release/
x64/
x86/
build/
out/

# Binaries
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.zip
*.7z
*.rar

# Logs / temp
*.log
*.tmp
Thumbs.db
desktop.ini